<form action="/articles/{{this.id}}" method="GET" class="">
    <div class="comment">
        <p>{{this.note.body}}</p>>
    </div>
</form>

<form action="/articles/{{this.id}}" method="POST" class="">
    </div><!-- the input field --><div class="input_comment">
        <input name="body" type="text" placeholder="Join the conversation..">
    </div>
</form>

