<form action="/articles/{{this.id}}" method="POST" class="">
    </div><!-- the input field --><div class="input_comment">
        <input type="text" placeholder="Join the conversation..">
    </div>
</form>

