<div class="row">
    <div class="col s6">
      <div class="card-header">
        <div class="card-image">
          <img src="">
        </div>
        <div class="card-body">
          <h6>Fox News Articles:</h6>
          <hr>
          <ul>
            {{#each dbArticle}}
                <li> 
                  <div>
                    <h2><a href="{{this.link}}">{{this.title}}</a></h2>
                    {{#if this.collection}}
                        {{#each this.collection}}
                            <div><h2>Hello</h2></div>
                        {{/each}}
                    {{/if}}
                    {{>notes}}
                  </div> 
                </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

